@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Serif', serif;
}

.navbarContainer {
    width: 700px;
}

.navbar {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}


.navLink {
    font-size: 15px;
    color: rgb(95, 101, 106);
    cursor: pointer;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}

.navImageContainer {
    position: relative;
    text-align: center;
}

.headerAndImage {
    display: flex;
    width: fit-content;
    margin: 40px 0px 0px 50px;
}

.navImage {
    width: auto;
    height: 60px;
    padding-left: 20px;
}

.pageHeader {
    font-size: 40px;
}

.extraOptions {
    position: relative;
    width: 400px;
    float: right;
    right: 20px;
}

.extraOptionsNavbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.extraOptionsNavbar > li {
    font-size: 15px;
    color: rgb(95, 101, 106);
    cursor: pointer;
}

.extraOptionsNavbar > li:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}




.firstSection {
    height: 490px;
    background-color: #EAEAEA;
    cursor: default;
}

.introductionContainer {
    position: relative;
    top: 150px;
    padding: 20px;
    width: fit-content;
}

.introduction {
    font-size: 50px;
}

.subIntroduction {
    font-size: 20px;
}

.cardOfferContainer {
    position: relative;
    height: 325px;
    top: 80px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 10px 5px #ccc;
}

.cardIcon {
    width: 250px;
    cursor: pointer;
}

.creditCardInfo {
    font-size: 20px;
    padding: 10px 10px 0 10px;
}

.celebrateSavingImage {
    position: absolute;
    width: 500px;
    top: 100px;
    left: 500px;
}


@media screen and (max-width: 800px) {
    .firstSection {
        height: 1000px;
    }
}
















/*Splide section */

.splideContainer {
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 0 45px 0 45px;
    position: relative;
    top: 30px;
}

.reviewSlider {
    display: flex;
    justify-content: center;
    width: 70%;
    height: fit-content;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px;
}

.ratingContainer {
 padding: 10px;
 text-align: center;
}


.ratingVector {
    width: 150px;
    height: auto;
}

.ratingReview {
    font-size: 20px;
    padding-left: 10px;
}

