@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*::-webkit-scrollbar {
    display: hidden;
}

* {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Noto Serif', serif;
}

.navbarContainer {
    width: 700px;
}

.navbar {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}


.navLink {
    font-size: 15px;
    color: rgb(95, 101, 106);
    cursor: pointer;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}

.navImageContainer {
    position: relative;
    text-align: center;
}

.headerAndImage {
    display: flex;
    width: fit-content;
    margin: 40px 0px 0px 50px;
}

.navImage {
    width: auto;
    height: 60px;
    padding-left: 20px;
}

.pageHeader {
    font-size: 40px;
}

.extraOptions {
    position: relative;
    width: 400px;
    float: right;
    right: 20px;
    top: 10px;
}

.extraOptionsNavbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.extraOptionsNavbar > li {
    font-size: 15px;
    color: rgb(95, 101, 106);
    cursor: pointer;
}

.extraOptionsNavbar > li:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}


.firstSection {
    height: 490px;
    background-color: #EAEAEA;
    cursor: default;
}

.introductionContainer {
    position: relative;
    top: 150px;
    left: 150px;
    width: fit-content;
}

.introduction {
    font-size: 50px;
}

.subIntroduction {
    font-size: 20px;
}

.cardOfferContainer {
    position: relative;
    right: 250px;
    float: right;
    text-align: center;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 10px 5px #ccc;
}

.cardIcon {
    width: 250px;
    cursor: pointer;
}

.creditCardInfo {
    font-size: 20px;
    padding: 10px 10px 0 10px;
}




/*Splide section */

.splideContainer {
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 35px;
}

.reviewSlider {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 700px;
}

.ratingContainer {
 padding: 10px;
 text-align: center;
}


.ratingVector {
    width: 200px;
    height: auto;
}

.ratingReview {
    font-size: 20px;
    padding-left: 10px;
}




/* Login/Signup Page */

.accountCard {
    width: 300px;
    height: fit-content;
    position: relative;
    top: 70px;
    text-align: center;
    padding: 50px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 10px 5px #ccc;
}

.loginCardTitle {
    font-size: 30px;
}

#phoneLoginInput {
    margin: 20px 0 20px 0;
    font-size: 15px;
}

#passwordLoginInput {
    margin: 0 0 20px 0;
    font-size: 15px;
}







