@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Serif', serif;
}

.navbarContainer {
    width: 700px;
}

.navbar {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}


.navLink {
    font-size: 15px;
    color: rgb(95, 101, 106);
    cursor: pointer;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}

.navImageContainer {
    position: relative;
    text-align: center;
}

.headerAndImage {
    display: flex;
    width: fit-content;
    margin: 40px 0px 0px 50px;
}

.navImage {
    width: auto;
    height: 60px;
    padding-left: 20px;
}

.pageHeader {
    font-size: 40px;
}

.extraOptions {
    position: relative;
    width: 400px;
    float: right;
    right: 20px;
}

.extraOptionsNavbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.extraOptionsNavbar > li {
    font-size: 15px;
    color: rgb(95, 101, 106);
    cursor: pointer;
}

.extraOptionsNavbar > li:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}




.firstSection {
    height: 490px;
    background-color: #EAEAEA;
    cursor: default;
}

.introductionContainer {
    position: relative;
    top: 150px;
    left: 150px;
    width: fit-content;
}

.introduction {
    font-size: 50px;
}

.subIntroduction {
    font-size: 20px;
}

.cardOfferContainer {
    position: relative;
    right: 250px;
    float: right;
    text-align: center;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 10px 5px #ccc;
}

.cardIcon {
    width: 250px;
    cursor: pointer;
}

.creditCardInfo {
    font-size: 20px;
    padding: 10px 10px 0 10px;
}

.celebrateSavingImage {
    position: absolute;
    width: 500px;
    top: 100px;
    left: 500px;
}




/*Splide section */

.splideContainer {
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 45px;
}

.reviewSlider {
    display: flex;
    justify-content: center;
    width: 70%;
    height: fit-content;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px;
}

.ratingContainer {
 padding: 10px;
 text-align: center;
}


.ratingVector {
    width: 150px;
    height: auto;
}

.ratingReview {
    font-size: 20px;
    padding-left: 10px;
}

/* Slogan and vectors section */

.slogansAndVectorsMainContainer {
    height: 2070px;
}

.first {
    position: relative;
    top: 200px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.first > img {
    position: relative;
}

.first > p {
    width: 850px;
    position: relative;
    top: 180px;
    font-size: 40px;
    color: #4F6D7A;
}

.second {
    position: relative;
    top: 450px;
    display: flex;
    justify-content: space-evenly;
}

.second > img {
    position: relative;
}

.second > p {
    width: 850px;
    position: relative;
    top: 180px;
    font-size: 40px;
    color: #4F6D7A;
}

.third {
    position: relative;
    top: 700px;
    display: flex;
    justify-content: space-evenly;
}

.third > img {
    position: relative;
}

.third > p {
    width: 850px;
    position: relative;
    top: 180px;
    font-size: 40px;
    color: #4F6D7A;
}


/* Footer Section */

.companyFooter {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    color: rgb(95, 101, 106);
    padding: 50px;
    font-size: 15px;
}

.companyFooter > div {
    text-align: center;
}









/* Login/Signup Page */

.accountCard {
    width: 300px;
    height: fit-content;
    position: relative;
    top: 70px;
    text-align: center;
    padding: 50px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 10px 5px #ccc;
}

.loginCardTitle {
    font-size: 30px;
}

#phoneLoginInput {
    margin: 20px 0 20px 0;
    font-size: 15px;
}

#passwordLoginInput {
    margin: 0 0 20px 0;
    font-size: 15px;
}












/* Credit card page */

.creditCardContainer {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.creditCards {
    text-align: center;
    width: 510px;
    height: 470px;
    position: relative;
    top: 40px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 10px 5px #ccc;
}


.creditCards > img {
    width: 450px;
}

.creditCards > p {
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: #636564;
}

.cardLink {
    margin-bottom: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #636564;
    border-radius: 10px;
    border: transparent;
    transition: 0.2s;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.cardLink:hover {
    font-size: 25px;
    background-color: #30a9ff;
    color: white;
}








/* Checking Page */ 

.checkingHeaderContainer {
    padding: 50px;
}

.checkingHeaderContainer > h1 {
    padding: 10px;
    font-size: 55px;
}

.checkingHeaderContainer > p {
    padding: 10px;
    font-size: 30px;
    color: #636564;
}

.checkingSubTextContainer {
    display: flex;
    justify-content: space-evenly;
    height: 230px;
}

.checkingSubHeader {
    padding: 10px;
    font-size: 35px;
}

.checkingSubText {
    padding: 0 20px 0 20px;
}

.subTextSecondaryContainer {
    border: 1px solid white;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 10px 1px #ccc;
    background-color: #a3cef1;
    width: fit-content;
}

.checkingButton {
    padding: 15px;
    position: relative;
    margin: 50px;
    font-size: 20px;
    background-color: white;
    border: hidden;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.checkingButton:hover {
    background-color: #30a9ff;
    color: white;
    font-size: 23px;
    
}

















/* Savings page */ 

.savingsHeader {
    font-size: 80px;
    padding: 50px 0 0 0;
}

.whySaveContainer {
    width: 600px;
    
}

.whySave {
    font-size: 30px;
    padding: 30px 0 30px 0;
}

.piggyBank {
    width: 400px;
}


.savingsInfo > p {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 70px 0 70px 0;
    border-bottom: 1px solid black;
}

.openSavings {
    font-size: 40px;
    margin: 0 50px 0 0;
}

.savingsAccountButton {
    font-size: 25px;
    padding: 5px 20px 5px 20px;
    background-color: #A3D9FF;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.savingsAccountButton:hover {
    background-color: #30a9ff;
    color: white;
}













/* Home Page Section */ 

.homeHeaderContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.homeHeaderContainer > div > p {
    font-size: 40px;
    margin-bottom: 20px;
}

.homeHeaderContainer > div > button {
    font-size: 25px;
    margin-top: 20px;
    padding: 10px;
    background-color: #A3D9FF;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
    position: absolute;
    cursor: pointer;
}

.homeHeaderContainer > div > button:hover {
    background-color: #30a9ff;
    color: white;
    font-size: 30px;
}